<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TensorFlow Java API with YOLO</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
                integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
                integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
                integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top navbar-inverse bg-inverse">
            <a href="/" title="TensorFlow Java API with YOLO" class="navbar-brand">TensorFlow Java API with YOLO</a>
        </div>
        <div class="container">
            <div class="row mt-4">
                <h2>Upload and detect objects on your image</h2>
                <p>
                    It supports only images with .jpg extension. The uploaded file cannot be larger than 300KB. The optimal resolution
                    is 416x416, because the neural network resize the image in the pre-processing phase.
                </p>
            </div>
            <div class="row">
                <form method="POST" enctype="multipart/form-data" action="/">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>File to upload:</td>
                                <td><input type="file" name="file"/></td>
                                <td><input type="submit" value="Upload and recognize"/></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="row">
                <div class="alert alert-info" role="alert">
                    <strong>Important!</strong> The upload directory is cleaned up in each hour.
                </div>
            </div>
            <div class="row">
                <p>
                    This program recognizes the following objects:
                </p>
                <table class="table table-bordered">
                    <tbody>
                     <tr>
                         <td>
                             <ul>
                                 <li>aeroplane</li>
                                 <li>bicycle</li>
                                 <li>bird</li>
                                 <li>boat</li>
                                 <li>bottle</li>
                                 <li>bus</li>
                                 <li>car</li>
                                 <li>cat</li>
                                 <li>chair</li>
                                 <li>cow</li>
                             </ul>
                         </td>
                         <td>
                             <ul>
                                 <li>diningtable</li>
                                 <li>dog</li>
                                 <li>horse</li>
                                 <li>motorbike</li>
                                 <li>person</li>
                                 <li>pottedplant</li>
                                 <li>sheep</li>
                                 <li>sofa</li>
                                 <li>train</li>
                                 <li>tvmonitor</li>
                             </ul>
                         </td>
                     </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>